body {
    font-family: 'Outfit', sans-serif;
    background-image: url('../imagens/wallpaper_resized.webp');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
} 

.cabecalho {
    text-align: center;
}

.personagens-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.lista-personagens {
    width: 226px;
    height: 330px;
}


