body {
    font-family: 'Outfit', sans-serif;
    background-image: url('../imagens/wallpaper.webp');
    background-repeat: no-repeat;
    background-size: cover;
} 

.cabecalho {
    text-align: center;
    padding: 60px 0;
}