body {
    font-family: 'Outfit', sans-serif;
    background-image: url('../imagens/wallpaper_resized.webp');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
} 

.cabecalho {
    text-align: center;
    padding: 20px 0;
}

.personagens-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.lista-personagens {
    width: 226px;
    height: 330px;
    position: relative;
}

.btn-seta {
    background-color: white;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 0;
    cursor: pointer; /*mostrar q eh clicavel*/
    align-items: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-seta.btn-voltar {
    transform: rotateY(180deg);
}

.btn-seta:hover {
    background-color: darkgray;
}

.cartao {
    opacity: 0;
    height: 100%;
    position: absolute;
    padding: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
}

.cartao.selecionado {
    opacity: 1;
}

.cartao .imagem-personagem {
    width: 100%;
    max-height: 280px;
}

.cartao .nome {
    background-color: rgba(179, 177, 185, 0.7);
    padding: 8px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.cartao .descricao {
    background-color: rgb(255, 255, 255, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}


